fastai
jupyterlab
jupyter_contrib_nbextensions
keras
matplotlib
mypy
numpy
nose2
pandas
Pillow
pip
seaborn
spacy
spacy-transformers
stanfordnlp
spacy_stanfordnlp
tabulate
tensorflow
tensorflow_hub
tensorflow-metal
tf_keras
torch
torchvision
